<% if (typeof flash !== "undefined" && flash.success?.length) { %>
  <div class="flash success"><%= flash.success[0] %></div>
<% } %>
<% if (typeof flash !== "undefined" && flash.error?.length) { %>
  <div class="flash error"><%= flash.error[0] %></div>
<% } %>
